nav-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;
}
dropdown-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;
}
myfooter{
background-color:#f8fafa;
height:60px;
}
myfooter{
paddin-top:20px;
font-size:14px;
}
myrow{
paddin-top:15px;
}
myrow .mx-auto{
color:#000;
font-size:14px;
text-decoration:none;
}

myimage{
width:100;
height:auto;
}
my-title{
font-size:14px;
text-decoration:none;
letter-spacing:.2em;
}