.body{
font-family: 'Roboto', sans-serif;
}
.nav-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;
}
.dropdown-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;
}
.my_footer{
background-color:white;
height:10px;
}
.my_footer p{
paddin-top:10px;
font-size:14px;
}
.myrow{
paddin-top:15px;
}
.myrow .mx-auto p a{
color:purple;
font-size:14px;
text-decoration:none;
}

.myimage{
width:100;
height:auto;
}
.mytitle{
font-size:14px;
text-decoration:none;
letter-spacing:.2em;
text-transform:uppercase;
}
.my_bottom_margin{
margin-bottom:10px
}
.card-body{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em}
.myproductrow{
padding-top:15px;
padding-bottom:20px;
}
.myproductrow .mx-auto{
color:grey;
font-size:14px;
}
.myproductrow.mx-auto p a{
color:white;
font-size:14px;
text-decoration:none;
}
.myprodtitle{
font-size:16px;
text-transform:uppercase
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}
.mysearch{
padding-top:20px
}
.my_table{
min-width:400px;
font-size:14px;
}
.my_thread{
width:100px;
height:100px;
}
.custom_a{
width=:100px;
height:100px;
}
.customicon{
text-decoration:none;
color:grey;
}
.mybutton{
margin-top:5px;
}
